/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* Logo Utama */
.header-navbar.navbar-brand-center .navbar-header .navbar-brand .brand-logo img {
    max-width: 620px !important;
}

.horizontal-menu .header-navbar.navbar-brand-center .navbar-header {
    padding-top: 30px;
    left: calc(50% - 310px)  !important;
}

/* Agenda */
.dark-layout .agenda-day {
    border-right: 1px solid #3b4253;
    padding-right: 1rem;
    margin-right: 0;
}

.agenda-day {
    border-right: 1px solid #ebe9f1;
    padding-right: 1rem;
    margin-right: 0;
}

/* Warna Link pada Dark Mode*/
.dark-layout a:link, .dark-layout a:visited {
    color : #d0d2d6 !important;
}

blockquote {
    border-left: 10px solid #4565BE;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

.content-header-left {
    margin-top: 20px;
}

.feather-32{
    width: 32px;
    height: 32px;
}

.feather-64{
    width: 64px;
    height: 64px;
}

.td-visual-hidden {
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
